/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.welcome {
    font-size: 1.2em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

#type {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #f9f9f9;
}

#search-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #333;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}

.results-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1.2em;
}

.results-table th,
.results-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.results-table tr:hover {
    background-color: #f1f1f1;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px;
}

.logout-button:hover {
    text-decoration: underline;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}